.contact-nav {
	  top: -2px;
}
.navbar {
font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.5rem;
}
.navbar-fixed-top .navbar-collapse li {
	text-transform: uppercase;
}
.navbar-default {
	background: #ffffff;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.navbar-toggle {
	float: left;
}
/* desktop */
@media screen and (min-width: 1200px) {	
	body {
		padding-top: 105px;
	}
	#navbar {
		padding-top: 25px;
		padding-bottom: 15px;
	}
	.navbar .container,.navbar {
		height: 105px;
	}
	.navbar-brand>img{
		width: 60px;
	}
	.navbar-fixed-top .navbar-collapse li {
		
	}
}
/* mobile */
@media screen and (max-width: 600px) {
	body {
		padding-top: 60px;
	}
	.contact-header {
		float: right;
		font-size: 3rem;
		padding-right: 16px;
  		padding-top: 13px;
	}
	.navbar .container,.navbar {
		height: 60px;
	}
	.navbar-brand{
		padding: 5px;
	}
	.navbar-brand>img{
		width: 40px;
	}
	.navbar-header>button{
		border: 0px;
		width: 52px;
		padding: 15px;
		margin: 0px;
		background-color: #E60002;
		height: 60px;
		border-radius: 0px;
	}
	.navbar-fixed-top .navbar-collapse{
		background-color: #ffffff;
	}
	.navbar-fixed-top .navbar-collapse ul {
		margin-top: 0px;
	}
	.navbar-fixed-top .navbar-collapse li {
		border-bottom: 1px #ccc solid;
	}
	.navbar-toggle span.icon-bar {
		background-color: #ffffff !important;
	}
	.navbar-toggle:focus {
		background-color: #8C9A9D !important;	
	}
}

/* mobile landscape */
@media screen and (max-height: 320px) {
	.navbar-fixed-top .navbar-collapse ul {
		max-height: 250px;
	}
}